<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="com.indialone.Student" name="student1" p:studentId="1" p:studentName="Uru Natu" p:studentAddress="Ahmedabad" />
    <bean class="com.indialone.Student" name="student2" p:studentId="2" p:studentName="Godu Sir" p:studentAddress="Deesa"/>

   <!--  // list
    <bean>
        <property name="list">
            <list>
                <value>1</value>
                <value>2</value>
                <value>3</value>
                <value>4</value>
                <value>5</value>
            </list>
        </property>
    </bean>

    // sets
    <bean>
        <property name="set">
            <set>
                <value>10</value>
                <value>20</value>
                <value>10</value>
                <value>30</value>
                <value>40</value>
            </set>
        </property>
    </bean>

    // maps
    <bean>
        <property name="map">
            <map>
                <entry key="java" value="2month"/>
                <entry key="python" value="1month"/>
            </map>
        </property>
    </bean>

    Properties
    <bean>
        <property name="properties">
            <props>
                <prop key="name">UruNatu</prop>
                <prop key="channelName">Indialone></prop>
            </props>
        </property>
    </bean> -->

</beans>